@import "_header";

h1 {
	color: blue;
}

body {
	font-size: 20px;
	div {
		font-size: 22px;
	}
}

.block {
	&__item {
	}

	&__lorem {
	}
}

.block {
}
.block__item {
}
.block__lorem {
}

.red {
	color: red;
}
